:root {
  --color-background: #2a273f;
  --color-primary: #9ccfd8;
  --color-secondary: #c4a7e7;
  --color-secondary-alt: #211f32;
  --color-danger: #eb6f92;
  --color-text: #e0def4;
  --color-caret: #f6c177;
}
